.main-container{
    display:flex ;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    
}

.container{
    &--left,&--right{
        display: grid;
        grid-template-columns: repeat(5,80px);
        grid-template-rows: repeat(3,80px);
       border: solid 6px rgba(9,58,121,1);
     
    }
    &--center{
        display: grid;
        grid-template-columns: repeat(11,50px);
        border: solid 6px rgba(9,58,121,1);
    }
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: white;
    padding: 1rem;
}

.box--checked{
    color: white;
    font-weight: 600;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.current-number--text{
    font-weight: 600;
    font-size: 1.5REM;
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.current-number--number{
    font-weight: 600;
    font-size: 2.5REM;
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}